*{
    margin: 0%;
}
.first{
     width: 100%;
    height: 84px;
    display: flex;
 background-color:#001920;
 
}
.first1{
    width: 100%;
    height: 90px;
     /* background-color:#001920;  */
}

.logo{
    width: 100%;
    height: 70px;
      /* background-color: red;   */
    display: flex; 
      
}
.logo img{
    width: 241px;
    height: 32px;
    margin-left: 90px;
    margin-top: 25px;
}
.login{
    width: 50%;
    height: 70px;
     /* background-color:red;  */
    display: flex;
    justify-content:flex-end;
    align-items: center;
    
}
.login p{
color: #fff;
margin-right: 70px;
font-weight: bold;
font-size: 18px;
margin-top: 19px;
}
.login1{
/* background-color: beige; */
width: 325px;
    height: 70px;
}
.login1 p{
    margin-top: 35px;
    /* margin-left: 56px; */
    color: #fff;
display: flex;
align-items: center;
justify-content: start;
}
.login i{
    color: #fff;
    font-size: 25px;
    margin-top: 11px;
    padding: 3px;
}
.secound{
    display: flex;
    justify-content: center;
    align-items: center;

  margin-top: 50px;
  height: 323px;
}
.secound1{
    display: flex;
    width: 100%;
     /* background-color: crimson; */
    height: 247px;
    justify-content: center;
     align-items: start; 
     margin-top: 58px;


 }
.secound2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center ;
     
    width: 100%;
    height: 15px;
    font-size: 20px;
    margin-top: 41px;
    
} 
.secound2 h1{
    
    background-color: #fe983d;
    margin-top: 17px;
text-align: center;

}
.aa{
    margin-bottom: 194px;
    width: 317px;
    height: 341px;
padding: 14px;
}

.zero{
    background-image: url(image/Screenshot\ 2025-09-25\ 213816.png);
background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center; 
}
.third{
    background-color: blue;
    height: 600px;
    width: 100%;
    display: flex;
    
}
.third1{
 background-color:#001920;
    
    height: 600px;
    width: 34%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    font-family: Nunito, sans-serif;
    

}
.text0{
    margin-left: 50px;
    color: #fff;
    font-family: Nunito, sans-serif;
    font-size: 20px;
    margin-top: 60px;

}
.text1{
    margin-left: 50px;
    color: #bcc5ca;
    font-family: Nunito, sans-serif;
    font-size: 20px;
}
.text2{
    margin-left: 50px;
    color: #bcc5ca;
    font-family: Nunito, sans-serif;
    font-size: 20px;
}
.text3{
     margin-left: 50px;
    color: #fff;
    font-family: Nunito, sans-serif;
    font-size: 20px; 
}
.photo{
background-color:yellow;
width: 35px;
height: 50px;
margin-bottom: 20px;
margin-left: 50px;
}
.third2{
      background-color:#001920;;
    height: 600px;
    width: 34%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}
.third2 h1{
     margin-left: 50px;
    color:  #fff;
    font-family: Nunito, sans-serif;
    font-size: 20px;
    margin-top: 60px;

}
.third2 p{
     margin-left: 50px;
    color:#bcc5ca ;
    font-family: Nunito, sans-serif;
    font-size: 20px;
    margin-top: 14px;
}
.third2 img{
    margin-left: 47px;
}   
.third3{
    font-family: Nunito, sans-serif;
    background-color:#001920;
    height: 600px;
    width: 34%;
    display: flex;
     justify-items: center;
     align-items: start;
     flex-direction: column;
     
}
.third3 i{
    position: absolute;
    margin-top: 98px;
    color: #fff;
     font-size: 22px;
}

.third3 h1{
 color: #fff;
font-family: Nunito, sans-serif;
font-size: 20px;
margin-top: 60px;
}
.p0{
margin-bottom: 2px;
    margin-left: 37px;
    color: #1156ca;
    font-size: 20px;
    cursor: pointer;
}
.p0:hover{
    color: darkblue ;


}
.p1{
     color:#bcc5ca;
    font-family: Nunito, sans-serif;
    font-size: 20px;
    margin-top: 14px;
}
.third3 i1{
    position: absolute;
    margin-top: 126px;
    color: #fff;
    font-size: 24px;
}
.fbinst{
    margin-top: 6px;
}
.four{
    width: 100%;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}